*{
    margin: 0;
    padding: 0;
}
.container-fluid 
{
    background-color: #f8f9fa;
    padding: 150px;
}
.container-fluid .italic{
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 0 300px 0 300px;
}
.container-fluid .littlephoto{
    border-radius: 50px; 
} 
.card-text{
    font-weight: 400;
    font-size: 1.25rem;
}
.buttonaltcizgi a{
    text-decoration: none;
    color: unset;
}
.sizingform{
    width: 500px;
    height: 50px;
}
.bibimail{
    
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 10px;
}
.littleicons{
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 3rem;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 7px;

}
.logoph{
    width: 120px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .card-css{
        display: none;
        flex-direction: column;

    }
}
